name: tests

on:
  push:
    branches:
      - master
      - ci
    # paths-ignore:
    #   - "README.md"
    #   - "docs/**"
  pull_request:
    branches:
      - master
    # paths-ignore:
    #   - "README.md"
    #   - "docs/**"

jobs:
  test:
    # Skip tests when doing a release to avoid the workflow race
    # when the release PR gets merged by the bot.
    if: needs.prep.outputs.version == 0
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["12", "14", "16"]
        os: [ubuntu-latest]
        edgedb-version: ["stable"]
        include:
          - os: ubuntu-latest
            node-version: "16"
            edgedb-version: "nightly"
          - os: ubuntu-latest
            node-version: "16"
            edgedb-version: "1.4"
          - os: macos-latest
            node-version: "16"
            edgedb-version: "stable"
          # - os: windows-2019
          #   node-version: "16"
          #   edgedb-version: "stable"

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 50
          submodules: true

      - name: Setup WSL
        if: ${{ matrix.os == 'windows-2019' }}
        uses: vampire/setup-wsl@v1
        with:
          wsl-shell-user: edgedb
          additional-packages: ca-certificates
            curl

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.24.x

      - uses: bahmutov/npm-install@v1.8.15
      - uses: bahmutov/npm-install@v1.8.15
        with:
          working-directory: qb

      # - name: Install dev deps
      #   run: |
      #     yarn install
      #     cd qb && yarn install

      - name: Lint
        run: |
          yarn lint

      - name: Build
        run: |
          yarn build

      # - name: Compile for Deno
      #   run: |
      #     yarn build:deno

      - name: Install EdgeDB
        uses: edgedb/setup-edgedb@v1
        with:
          server-version: ${{ matrix.edgedb-version }}

      - name: Run query builder tests
        if: ${{ matrix.node-version >= 14 && matrix.edgedb-version != '1.4'}}
        working-directory: qb
        run: |
          yarn test:ci

      - name: Test qb generation on v1
        if: ${{ matrix.node-version >= 14 && matrix.edgedb-version == '1.4' }}
        working-directory: qb
        run: |
          yarn test:v1

      - name: Run functional tests
        run: |
          yarn test

  # This job exists solely to act as the test job aggregate to be
  # targeted by branch policies.
  regression-tests:
    name: "Regression Tests"
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo OK
