name: Tests

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["12", "13", "14", "15", "16"]
        os: [ubuntu-latest]
        edgedb-version: ["stable"]

        include:
          - os: ubuntu-latest
            node-version: "16"
            edgedb-version: "nightly"
          - os: macos-latest
            node-version: "16"
            edgedb-version: "stable"
          - os: windows-latest
            node-version: "16"
            edgedb-version: "stable"

    steps:
      - name: Setup WSL
        if: ${{ matrix.os == 'windows-latest' }}
        uses: vampire/setup-wsl@v1
        with:
          wsl-shell-user: edgedb
          additional-packages: ca-certificates
            curl

      - uses: actions/checkout@v1
        with:
          fetch-depth: 50
          submodules: true

      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.14.x

      - name: Install dev deps
        run: |
          yarn install

      - name: Lint
        run: |
          yarn lint

      - name: Build
        run: |
          yarn build

      - name: Compile for Deno
        run: |
          yarn compileForDeno

      - name: Install EdgeDB
        uses: edgedb/setup-edgedb@v1
        with:
          server-version: ${{ matrix.edgedb-version }}

      - name: Run functional tests
        run: |
          yarn test

      - name: Run query builder tests
        working-directory: qb
        run: |
          yarn && yarn test

  # This job exists solely to act as the test job aggregate to be
  # targeted by branch policies.
  regression-tests:
    name: "Regression Tests"
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo OK
